*{
    margin: 0;
    padding: 0;
}
.section{
    border-radius: none;
    height: 100vh;
    width: 75vw;
    margin: auto;
    text-align: center;
    background-color: rgb(245, 236, 236);
}
li {
    display: inline-block;
    margin: 1em;
    font-size: 2em;
    padding: 0em 1em;   
    font-family: 'Merriweather', serif;
}
li a{
    text-decoration:wavy;  
}
ul {
    margin: 0;
    text-align: center;
    background-color: rgb(236, 236, 144);
    height: auto;
}

.bg {
    /* The image used */
    background-image: url("../images/5651982.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

div.aboutme{
    width: 50%;
    height: 100%;
    margin: 2em;
}

p#home{
    font-size: 1.5vmax;
    /* font-family: 'Love Ya Like A Sister', cursive; */
    font-family: 'Monaco', sans-serif;
    position: relative;
    margin-bottom: 10vh;
}

p#greet{
    font-size: 2vmax;
    font-family: "Rubik", sans-serif;
    position: relative;
    text-align: left;
}

p#intro{
    font-size: 3vmax;
    font-family: "Rubik", sans-serif;
    position: relative;
    text-align: left;
    margin-top: 20px;
}

img{
    width: 35vw;
    position: absolute;
    left: 0
}

.div-about{
    display: flex;
    height: 100%;
    position: relative;
}